os: osx
language: objective-c
osx_image: xcode9
xcode_project: MusicTheory.xcodeproj # path to your xcodeproj folder
xcode_scheme: Tests
script:
- xcodebuild -project MusicTheory.xcodeproj -scheme MusicTheory ONLY_ACTIVE_ARCH=NO CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
- xcodebuild test -project MusicTheory.xcodeproj -scheme Tests ONLY_ACTIVE_ARCH=NO CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
